<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Onderwater_TransactionMining::TransactionMining" title="Transaction Mining" module="Onderwater_TransactionMining" sortOrder="51" resource="Onderwater_TransactionMining::TransactionMining"/>
        <add id="Onderwater_TransactionMining::transactions" title="View Order Association Rules" module="Mageplaza_HelloWorld" sortOrder="10" action="onderwater_transactionmining/transactions/index" resource="Onderwater_TransactionMining::transactions" parent="Onderwater_TransactionMining::TransactionMining"/>
        <!-- <add id="Onderwater_TransactionMining::hello_configuration" title="Configuration" module="Mageplaza_HelloWorld" sortOrder="99" parent="Mageplaza_HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Mageplaza_HelloWorld::helloworld_configuration"/>-->
    </menu>
</config>